@charset "utf-8";

/* fuentes */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

*{
	margin:0;
	padding:0;
}

img{
	box-shadow: 2px 2px #02010a;
}

body{
	background-color: black;
	font-family: 'Dancing Script', cursive;
	box-sizing: border-box;
	font-size: 14px;
}

#contenido{
	width:900px;
	margin:auto;
	animation: entrada 1.5s; 
}

@media (max-width:900px){
	
	body{
		font-size: 16px;
	}
	
	#contenido{
		width:100%;
		}
}

@-webkit-keyframes

entrada{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}
}


header{
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	width: 100%;
}

.hcol{
	width:65%;
	padding:25px;
}

.hcol-n{
	width:35%;
	padding:25px;
}

@media (max-width:900px){
	
	header{
		flex-wrap: wrap;
		text-align: center;
	}
	
	.hcol{
		width:100%;
	
	}

	.hcol-n{
		width:100%;
	
	}
	
	nav{
		text-align: center;
		padding-top: 0;
	}
	
	h1{
		font-size: 2.5em;
		padding-bottom: 0;
	}
	
}

h1{
	text-shadow: 2px 2px #02010a;
	color:white;
	font-size: 2em;
}

nav{
	color:white;
}

nav ul{
	display:inline-flex;
	text-decoration: none;
	list-style-type: none;
}

nav ul li{
	margin-left: 25px;
}

a{
	color: inherit;
}


.principal{
	width: 100%;
	background-color: #82c3a6;
}

.principal img{
	width:90%;
	margin: 5%;
}

.secundaria{
	width:100%;
	display: flex;
}

.secundaria > div {
	width: 50%;
	background-color: #d5c75f;
	border: 1px solid white;
	text-align: center;
	padding-bottom: 2.5%;
}

@media (max-width:900px){
	.secundaria{
		width:100%;
		flex-wrap: wrap;
	}
	
	.secundaria > div{
		width: 100%;
	}
}

.sec1 img{
	width:90%;
	margin:5%;
}

.sec1 img:hover{
	transform: rotate(10deg);
	border: 2px solid white;
	box-shadow: 2px 2px 5px #82c3a6;
}

.sec2 img{
	width:90%;
	margin: 5%;
}

.sec2 img:hover{
	transform: translate(20px, -5px);
	border: 2px solid white;
	box-shadow: 2px 2px 5px #82c3a6;
}

footer{
	display:flex;
	background-color: #C6d5c5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer > div{
	width:25%;
	padding: 25px;
}

@media (max-width:900px){
	
	footer{
		flex-wrap: wrap;
	}
	
	footer > div{
		width:100%;
	}
	
}

footer h2{
	text-align: center;
}

footer img{
	box-shadow: none;
	width: 20px;
	margin-right: 10px;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	color:white;
}

footer p{
	font-size: 1.1em;
}

@media (max-width:900px){
	footer h2{
		text-align: left;
	}
	
	footer p{
		font-size: 1.3em;
	}
}

.galeria{
	width:100%;
	display: inline-flex;
	flex-wrap: wrap;
	background-color: #d5c75f;
}

.galeria > div {
	width: 33%;
	text-align: center;
}

.galeria img{
	width:90%;
	margin:5%;
}

@media (max-width:900px){
	
	.galeria > div{
		width: 100%;
	}
}

.desenfoque {
	-webkit-filter: blur(10px);
	-ms-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	filter: blur(10px);
}

.grises {
	-webkit-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

.sepia{
	-webkit-filter: sepia(90%);
	-ms-filter: sepia(90%);
	-moz-filter: sepia(90%);
	-o-filter: sepia(90%);
	filter: sepia(90%);
}

